*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 4%;
}
.container{
    text-align: center;
}
.textAbout{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.title{
    font-size: 1.2rem;
}
.contentContainer{
    display: flex;
    justify-content: space-between;
}
.listItem{
    display: flex;
    justify-content: space-between;
}